<?php 
if(isset($block) && !$block->isDiscountFieldEnabled()):
?>
<!-- DISABLED DISCOUNT FIELD -->
<style>
#checkout .block.coupon {
    display: none !important;
}
</style>
<?php
endif;
?>
<div class="header-container layout2">
    <div class="header">
        <div class="container">
            <div class="for-full-withmenu">
                <?php echo $this->getChildHtml("logo"); ?>
                <?php echo $this->getChildHtml("top.navigation.sections"); ?>
                <div class="header-buttons-wrapper">
                    <?php echo $this->getChildHtml("top.search"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    </div>
</div>



