<div class="block totals">
    <table class="data table table-totals">
        <caption class="table-caption" data-bind="i18n: 'Order Summary'"></caption>
        <tbody>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>

</div>