<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isOriginalDisplayed($parents[1]) -->
<span class="original-price" data-bind="text: getOriginal($parents[1])"></span>
<!-- /ko -->
<span class="subtotal" data-bind="text: getValue($parents[1])"></span>
