<a href="#"
   title="<?= $block->escapeHtmlAttr(__('Remove')) ?>"
   class="action action-delete"
   data-post='<?= /* @noEscape */ $block->getDeletePostJson() ?>'>
    <span>
        <?= $block->escapeHtml(__('Remove')) ?>
    </span>
</a>
