<!--
/**
 * Copyright © 2017 Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<!-- ko if: visible -->
<div class="newsletter-subscribe">
  <div class="step-title" data-role="title" data-bind="i18n: 'Sign up for our newsletter'"></div>
    <div class="field">
        <div class="control">
            <!-- ko if: changeable -->
            <input class="input-text"
                   type="checkbox"
                   data-bind="
                                textInput: 1,
                                checked: checked"
                   name="newsletter-subscribe"
                   id="newsletter-subscribe" />
            <i class="icon-check"></i>
            <label class="label" for="newsletter-subscribe">
                <span data-bind="i18n: checkoutLabel"></span>
            </label>
            <!-- /ko -->
            <!-- ko ifnot: changeable -->
            <input type="checkbox"
                   id="newsletter-subscribe-disabled"
                   disabled="disabled"
                   checked="checked"/>
            <i class="icon-check"></i>
            <label class="label" for="newsletter-subscribe-disabled">
                <span data-bind="i18n: checkoutLabel"></span>
            </label>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
