<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('item_message') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-inner">
    <!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    <div class="product-item-details">

        <div class="product-item-inner">
            <div class="product-item-name-block">
                <strong class="product-item-name" data-bind="html: $parent.name"></strong>
            </div>
            <div>
                <!-- ko foreach: getRegion('after_details') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="product-quantity-block">
                <div class="details-qty">
                    <span class="value" data-bind="text: $parent.qty"></span>
                </div>
            </div>
        </div>
    </div>
</div>
