<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
// phpcs:disable Magento2.Files.LineLength.MaxExceeded

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$originalPrice = $product->getPrice();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper(Magento\Msrp\Helper\Data::class);
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<li class="product-item">
    <div class="product">
        <div class="product-image-container">
            <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
        </div>
        <div class="product-item-details">
            <div class="product-item-inner">
                <div class="product-item-name-block">
                    <?php if ($block->hasProductUrl()) : ?>
                        <a href="<?= $block->escapeUrl($block->getProductUrl()) ?>"
                           class="product-item-name"><?= $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else : ?>
                        <div class="product-item-name"><?= $block->escapeHtml($block->getProductName()) ?></div>
                    <?php endif; ?>
                </div>
                <div class="product-item-price-block">
                    <?php if ($canApplyMsrp) : ?>
                        <span class="pricing msrp">
                                <span class="msrp notice"><?= $block->escapeHtml(__('See price before order confirmation.')) ?></span>
                                <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                                <a href="#" class="action help map"
                                   id="<?= ($block->escapeHtmlAttr($helpLinkId)) ?>"
                                   data-mage-init='{"addToCart":{
                                                        "helpLinkId": "#<?= $block->escapeJs($block->escapeHtml($helpLinkId)) ?>",
                                                        "productName": "<?= $block->escapeJs($block->escapeHtml($product->getName())) ?>",
                                                        "showAddToCart": false
                                                        }
                                                    }'
                                >
                                    <span><?= $block->escapeHtml(__("What's this?")) ?></span>
                                </a>
                            </span>
                    <?php else : ?>
                        <?= $block->getUnitPriceHtml($_item) ?>
                    <?php endif; ?>
                </div>
                <?php if ($_options = $block->getOptionList()) : ?>
                    <!--<dl class="item-options">
                        <?php /*foreach ($_options as $_option) : */?>
                            <?php /*$_formatedOptionValue = $block->getFormatedOptionValue($_option) */?>
                            <dt><?/*= $block->escapeHtml($_option['label']) */?></dt>
                            <dd>
                                <?php /*if (isset($_formatedOptionValue['full_view'])) : */?>
                                    <?/*= $block->escapeHtml($_formatedOptionValue['full_view']) */?>
                                <?php /*else : */?>
                                    <?/*= $block->escapeHtml($_formatedOptionValue['value'], ['span', 'a']) */?>
                                <?php /*endif; */?>
                            </dd>
                        <?php /*endforeach; */?>
                    </dl>-->
                <?php endif; ?>
                <div class="item-actions">
                    <div class="control qty">
                        <label for="cart-<?= $block->escapeHtmlAttr($_item->getId()) ?>-qty">
                            <select id="cart-<?= $block->escapeHtmlAttr($_item->getId()) ?>-qty"
                                    name="cart[<?= $block->escapeHtmlAttr($_item->getId()) ?>][qty]"
                                    data-cart-item-id="<?= $block->escapeHtmlAttr($_item->getSku()) ?>"
                                    value="<?= $block->escapeHtmlAttr($block->getQty()) ?>"
                                    title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                                    class="input-text qty"
                                    data-role="cart-item-qty"
                                    data-mage-init='{ "swissclinic/update-item-qty": { "id" : "<?= $block->escapeHtmlAttr($_item->getId()) ?>", "sku": "<?= $block->escapeHtmlAttr($_item->getSku()) ?>" } }'>
                                <?php for( $i= 1 ; $i <= 10 ; $i++ ) {
                                    echo '<option value="' . $i . '"';
                                    if ($block->getQty() == $i) echo ' selected="selected"';
                                    echo '>' . $i . '</option>';
                                }?>
                            </select>
                        </label>
                    </div>
                    <?= /* @noEscape */
                    $block->getActions($_item) ?>
                </div>
                <?php if ($messages = $block->getMessages()) : ?>
                    <?php foreach ($messages as $message) : ?>
                        <div class="cart item message <?= $block->escapeHtmlAttr($message['type']) ?>">
                            <div><?= $block->escapeHtml($message['text']) ?></div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock) : ?>
                    <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif; ?>
            </div>
        </div>
    </div>
</li>