body, html {
    background: #ffffff;
}

#checkout {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 52px;
}

.minicart-items-wrapper {
    border: none;
    margin: 0 ;
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
    padding: 0;
}

.column.main .product-item {
    padding: 0;
    margin-bottom: 16px;
}

.minicart-items .product-item-name, .minicart-items .subtotal, .minicart-items .details-qty {
    margin: 0 0 4px;
    padding: 0;
}

#block-discount {
    text-align: center;
}

#block-discount-heading {
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
}

#block-discount label {
    visibility: hidden;
}

.payment-option-title.field.choice {
    text-align: center;
}

.table-totals .amount {
    text-align: right;
}

.payment-option-content {
    margin-top: 8px;
}

#checkout .block {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    padding: 24px;
}

.form-discount .payment-option-inner {
    margin-bottom: 16px;
}

input#discount-code {
    height: 48px;
}

.fieldset > .field .note {
    font-size: 14px;
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
    height: 40px;
    line-height: 40px;
}

.fieldset > .field, .fieldset > .fields > .field {
    margin-bottom: 16px;
}

.field-tooltip {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 9px;
}

.minicart-items .product-item-name {
    display: block;
    padding-right: 20%;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.checkout-shipping-method .step-title {
    margin-bottom: 16px;
}

label.label span {
    vertical-align: bottom;
}

.table-checkout-shipping-method {
    width: 100%;
}

.checkout-index-index .header-container .header .header--checkout .col-12,
.checkout-cart-index .header-container .header .header--checkout .col-12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-index-index .header-container .header .header--checkout .logo,
.checkout-cart-index .header-container .header .header--checkout .logo {
    float: none;
    margin: 0;
    padding: 0;
}

.checkout-index-index .header-container .header .header--checkout .nav-toggle,
.checkout-cart-index .header-container .header .header--checkout .nav-toggle {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.checkout-index-index .header-container .header .header--checkout .container,
.checkout-cart-index .header-container .header .header--checkout .container {
    max-width: 700px;
}

.checkout-index-index .header-container .header .header--checkout,
.checkout-cart-index .header-container .header .header--checkout {
    background-color: #f5f5f5;
}

.checkout-index-index .header-container .header .header-buttons-wrapper,
.checkout-cart-index .header-container .header .header-buttons-wrapper {
    visibility: hidden;
}

@media (max-width: 767px) {
    .header-container {
        position: relative;
    }s

    .checkout-index-index .header-container .header .logo,
    .checkout-cart-index .header-container .header .logo {
        height: 60px;
        line-height: 60px;
        margin-top: 0;
    }

    .checkout-index-index .header-container .header .logo img,
    .checkout-cart-index .header-container .header .logo img {
        max-height: 32px;
    }
}

.checkout-index-index .nav-sections, .checkout-index-index .nav-toggle,
.checkout-cart-index .nav-sections, .checkout-cart-index .nav-toggle {
    display: block;
}

#discount-form label {
    margin-bottom: 8px;
    display: block;
}

#discount-form button.action.action-apply {
    padding: 12px;
}

#discount-form label {
    margin-bottom: 8px;
    display: block;
}

#discount-form button.action.action-apply {
    padding: 12px;
}

.step-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    font-size: 15px;
    text-decoration: underline;
    display: none;
}

.discount-code--applied {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount-code--applied .action.action-cancel {
    background: transparent;
    color: #c3c3c3;
    padding: 16px 0;
    text-decoration: underline;
    font-size: 12px;
}

.discount-code__active-code {
    background: transparent;
    color: #c3c3c3;
    font-size: 12px;
    white-space: nowrap;
    max-width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.discount-code__pre-coupon {
    margin-right: 4px;
}

.discount-code .action.action-cancel {
    padding: 6px 0px 6px 8px;
    background: transparent;
    color: #c3c3c3;
}

.field-error {
    font-size: 12px;
}

.original-price, .old-price {
    color: #aaa;
    text-decoration: line-through;
    margin-right: 8px;
}

.checkout-index-index .column.main .block .title strong,
.checkout-cart-index .column.main .block .title strong {
    font-size: 14px !important;
    color: #c3c3c3;
}

#checkout .minicart-items .product {
    display: flex;
    flex-direction: column;
}

#checkout .minicart-items .product .product-inner {
    display: flex;
}

#checkout .minicart-items .product-item-details {
    padding-left: 16px;
    width: 100%;
}

#checkout .minicart-items .details-qty {
    text-align: center;
    display: inline-block;
    border: 1px solid #eee;
    line-height: 16px;
    height: 33px;
    position: relative;
    width: 40px;
    margin: 0;
    padding: 8px 0;
}

#checkout .actions-toolbar {
    display: flex;
    justify-content: center;
}

.minicart-items .product > .product-item-photo, .minicart-items .product > .product-image-container {
    flex: 1 0 auto;
    width: 100px !important;
    height: 100px !important;
}

#shopping-cart-table .product-item .product-image-container {
    width: 100px;
}

#shopping-cart-table .product-item {
    margin-bottom: 16px;
}


#shopping-cart-table .product-item-price-block {
    margin-bottom: 8px;
}

.checkout-payment-method .payment-method-title .payment-icon {
    width: 65px;
}

.payment-method-title.field.choice {
    display: flex;
    align-items: center;
}

.payment-method-title.field.choice .radio {
    margin-right: 16px;
}

.payment-method-title.field.choice .label {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkout-payment-method .payment-method-content {
    padding: 0;
}

.checkout-payment-method .checkout-billing-address .billing-address-details {
    line-height: 1.168;
    padding: 0 0 0 16px;
}

.amasty-gdpr-consent.required a {
    text-decoration: underline;
}

div {}

.amasty-gdpr-consent.required {
    text-transform: uppercase;
}

.checkout-message-block {
    color: #aaa;
    margin-bottom: 8px;
}

#checkout .payment-method-billing-address .actions-toolbar {text-align: left;}

#checkout .checkout-payment-method .payment-method._active .payment-method-content .actions-toolbar {
    justify-content: flex-start;
    margin: 16px 0;
}

/*      Cart        */

#checkout .product-reviews-summary {
    display: none;
}

#checkout #form-validate {
    width: 100%;
}

.cart .product-item-details {
    padding-left: 16px;
    height: 100%;
    width: 100%;
}

ol.products.list.items.product-items {
    display: flex;
    font-size: 14px;
    padding: 0 24px;
    overflow: scroll;
}

li.item.product {
    margin-right: 24px;
    width: 130px;
}

@media screen and (min-width: 767px) {
    ol.products.list.items.product-items {
        overflow: hidden;
        padding: 0;
    }

    li.item.product {
        margin: 0;
        padding: 0 16px;
        width: 25%;
    }
}

.price-container .price {
    font-size: 14px;
}

.rokan-product-heading h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.rokan-product-heading h2:before, .rokan-product-heading h2:after {
    display: none;
}

.rokan-product-heading {
    margin: 24px 0;
}
button.btn.btn-add-to-cart {
    background: transparent;
    color: #000;
    padding: 8px 10px 4px 0;
    border-radius: 0;
    border: none;
}

a.product-item-link {
    white-space: nowrap;
}

.product-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.product-item .onsale, .product-list-item .onsale, .product-item .newlabel, .product-list-item .newlabel, .product-item .featuredlabel, .product-list-item .featuredlabel {
    position: absolute;
    top: 16px;
    left: 0px;
    background: #dadada;
    color: #000;
    padding: 2px 16px 0;
    font-size: 12px;
    font-weight: 600;
    display: none;
}

.input-text.qty {
    border: 1px solid #000;
    line-height: 16px;
    height: 32px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 56px;
    appearance: none;
}

a.product-item-name {
    margin: 0;
}

.input-text.qty:before {content: "";width: 8px;height: 8px;display: block;position: absolute;right: 0;top: 0;bottom: 0;}

.control.qty label:after {
    content: "";
    width: 8px;
    height: 8px;
    margin: auto;
    display: block;
    position: absolute;
    right: 8px;
    top: 0px;
    bottom: 4px;
    transform: rotate(45deg);
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    pointer-events: none;
}

.control.qty label {
    position: relative;
}

a.action.action-delete {
    /* float: right; */
    padding: 4px 0;
    font-size: 12px;
    line-height: 24px;
}

.item-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-item-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.product-quantity-block {
    margin-top: 8px;
}

.item-actions {
    margin-top: auto;
}

#shopping-cart-table .product-item .product {
    display: flex;
}


.block.totals .cart-totals {
    border: none;
    padding: 0;
}

.block.methods {
    text-align: center;
}

.block.totals .table {
    margin: 0;
}

.block.totals .table th, .block.totals .table td {
    padding: 4px 0;
}

.fieldset > .field:not(.choice) > .control {
    width: 100%;
    float: none;
}

.fieldset.coupon {
    margin-bottom: 0;
}

.column.main #checkout .block:last-child {
    border: none;
}

.checkout-index-index .navigation-bar__container.container,
.checkout-cart-index .navigation-bar__container.container{
    justify-content: space-between;
}

.checkout-index-index button.nav-item.nav-item--button.button.button--header,
.checkout-cart-index button.nav-item.nav-item--button.button.button--header{
    order: 0;
}

.checkout-index-index #header .logo,
.checkout-cart-index #header .logo {
    order: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.checkout-index-index .navigation-bar__container.container:after, .checkout-index-index .navigation-bar__container.container:before,
.checkout-cart-index .navigation-bar__container.container:after, .checkout-cart-index .navigation-bar__container.container:before{display: none;}

.checkout-index-index #header,
.checkout-cart-index #header  {
    position: relative;
}

.checkout-index-index .product-image-wrapper,
.checkout-cart-index .product-image-wrapper {
    padding-bottom: 100%;
}

.checkout-index-index #maincontent,
.checkout-cart-index #maincontent {
    width: 100%;
}