<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var $block \Magento\Checkout\Block\Item\Price\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$originalPrice = $product->getPrice();
?>
<?php if ($_item->getPriceInclTax() < $originalPrice) {
    echo '<span class="original-price">';
        echo $block->escapeHtml(
            $this->helper(Magento\Checkout\Helper\Data::class)->formatPrice($originalPrice),
            ['span']
        );
        echo '</span>';
    }
?>
<span class="price"><?= $block->escapeHtml(
        $this->helper(Magento\Checkout\Helper\Data::class)->formatPrice($_item->getPriceInclTax()),
        ['span']
    ) ?>
</span>

